/********************* Tag Selector*********************/
body {
  background-color: #63b7af;
  margin: 0;
}

button:hover {
  background-color: #c3edea;
}
h2 {
  background-color: #abf0e9;
  border: solid 1px;
  display: inline-block;
  position: relative;
  left: 150px;
  bottom: 150px;
  width: 400px;
  height: 300px;
}

hr {
  border-color: grey;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 10%;
}

/********************* Class Selector*********************/
.secciones {
  background-color: #63b7af;
  border-style: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.FirstHR {
  border-color: grey;
  border-style: none;
  border-top-style: inset;
  border-width: 1px;
  margin-top: 2px;
  width: 100%;
}

.index {
  border-style: none;
  text-align: center;
  background-color: #63b7af;
  display: inline-block;
  position: absolute;
  left: 220px;
  top: 35px;
}

.title {
  background-color: #63b7af;
  position: relative;
  left: 75px;
  font-family: 'Sacramento', cursive;
  margin-bottom: 0;
  width: 100px;
}

.SecSection {
  background-color: #74d4c0;
  text-align: center;
}

.circular {
  border-radius: 100%;
  margin: 15px;
}

.programming {
  margin: 0;
  position: relative;
  top: 50px;
  left: 50px;
}

.images {
  width: 200px;
  height: 400px;
}

.text {
  text-align: left;
}

.par {
  text-align: left;
  vertical-align: top;
  height: 300px;
}

.VarCursos {
  margin: 0;
 border-spacing: 10px;
}

.TxtBack {
  background-color: #63b7af;
  width: 300px;
}

.Intro {
  background-color: #ee8572;
  margin: 10px 100px 20px;
}
